html {
    height: 100%;
}

body {
    height: 98%;
    display: grid;
    place-items: center;
    background: rgb(10, 23, 51);
    font-family: 'Dejavu Serif';
}

a {
    color: white;
}

p {
    line-height: 1.3rem;
}

.container {
    color: white;
    max-width: 500px;
    text-align: center;
}

.brand:hover {
    opacity: .8;
}

.me {
    border-radius: 50%;
    width: 141px;
}

.brand {
    width: 32px;
}
